{% extends 'base.html.twig' %}

{% block title %}Member List{% endblock %}

{% block body %}
<!-- in the <head> section -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
<!-- before the closing <body> tag -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
<div class="wrapper">
	<h1>Home</h1>
	<a href="{{ path('app_add') }}">Add Member</a>	
	<br />
	<div id="members">Loading...</div>
</div>
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
$(function() {
	$('#members').initDataTables({{ datatable_settings(datatable) }});
});
</script>
{% endblock %}